Repository cosmosquad-labs/squad, pull requests merged in 2022-08, with the labels that each got.

#345 feat: `liquidfarming` module apply changed spec
  proto/squad/liquidfarming/v1beta1/genesis.proto
  proto/squad/liquidfarming/v1beta1/liquidfarming.proto
  proto/squad/liquidfarming/v1beta1/params.proto
  proto/squad/liquidfarming/v1beta1/query.proto
  proto/squad/liquidfarming/v1beta1/tx.proto
  x/farming/keeper/hooks.go
  x/farming/keeper/hooks_test.go
  x/farming/keeper/staking.go
  x/farming/types/expected_keepers.go
  x/farming/types/hooks.go
  x/liquidfarming/client/cli/flags.go
  x/liquidfarming/client/cli/query.go
  x/liquidfarming/client/cli/tx.go
  x/liquidfarming/client/testutil/cli_test.go
  x/liquidfarming/client/testutil/helpers.go
  x/liquidfarming/client/testutil/suite.go
  x/liquidfarming/handler.go
  x/liquidfarming/keeper/auction.go
  x/liquidfarming/keeper/auction_test.go
  x/liquidfarming/keeper/genesis.go
  x/liquidfarming/keeper/genesis_test.go
  x/liquidfarming/keeper/grpc_query.go
  x/liquidfarming/keeper/grpc_query_test.go
  x/liquidfarming/keeper/hooks.go
  x/liquidfarming/keeper/keeper_test.go
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/keeper/liquidfarm_test.go
  x/liquidfarming/keeper/msg_server.go
  x/liquidfarming/keeper/store.go
  x/liquidfarming/keeper/store_test.go
  x/liquidfarming/types/auction.go
  x/liquidfarming/types/codec.go
  x/liquidfarming/types/errors.go
  x/liquidfarming/types/events.go
  x/liquidfarming/types/expected_keepers.go
  x/liquidfarming/types/genesis.go
  x/liquidfarming/types/genesis.pb.go
  x/liquidfarming/types/genesis_test.go
  x/liquidfarming/types/keys.go
  x/liquidfarming/types/keys_test.go
  x/liquidfarming/types/liquidfarm.go
  x/liquidfarming/types/liquidfarm_test.go
  x/liquidfarming/types/liquidfarming.pb.go
  x/liquidfarming/types/msgs.go
  x/liquidfarming/types/msgs_test.go
  x/liquidfarming/types/params.go
  x/liquidfarming/types/params.pb.go
  x/liquidfarming/types/params_test.go
  x/liquidfarming/types/query.pb.go
  x/liquidfarming/types/query.pb.gw.go
  x/liquidfarming/types/tx.pb.go
Labels: x/farming, c-sync

#343 docs: add drafts of specs for liquidfarming module
  docs/api/liquidfarming.md
  docs/api/liquidity.md
  docs/api/liquidstaking.md
  docs/cli/liquidfarming.md
  x/farming/spec/09_hooks.md
  x/liquidfarming/spec/01_concepts.md
  x/liquidfarming/spec/02_state.md
  x/liquidfarming/spec/03_state_transitions.md
  x/liquidfarming/spec/04_messages.md
  x/liquidfarming/spec/05_begin_block.md
  x/liquidfarming/spec/05_end_block.md
  x/liquidfarming/spec/06_events.md
  x/liquidfarming/spec/07_params.md
  x/liquidfarming/spec/08_hooks.md
  x/liquidfarming/spec/README.md
Labels: documentation, x/farming, c-sync

#346 fix: calculation bug of liquidstaking voting_power
  CHANGELOG.md
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/keeper/tally_test.go
Labels: x/liquidstaking, c-sync
