Repository cosmosquad-labs/squad, pull requests merged in 2022-07, with the labels that each got.

#323 fix: bug in order book and pool orders calculation
  x/liquidity/amm/match.go
  x/liquidity/amm/orderbook.go
  x/liquidity/amm/pool.go
  x/liquidity/amm/pool_test.go
  x/liquidity/keeper/swap_test.go
Labels: x/liquidity, c-sync

#326 fix: fix bug in matching logic
  x/liquidity/amm/match.go
  x/liquidity/keeper/bench_test.go
  x/liquidity/keeper/swap_test.go
Labels: x/liquidity, c-sync

#325 docs: add liquidity whitepaper (pool)
  docs/whitepapers/liquidity/pool.md
  x/liquidity/spec/01_concepts.md
  x/liquidity/spec/02_state.md
  x/liquidity/spec/04_messages.md
  x/liquidity/spec/07_events.md
Labels: documentation, x/liquidity, c-sync

#328 docs: add liquidity module white paper (matching)
  docs/whitepapers/liquidity/matching.md
Labels: documentation, c-sync

#334 feat: add `HistoricalRewards` gRPC query endpoint
  CHANGELOG.md
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  config-test.yml
  docs/api/farming.md
  docs/cli/farming.md
  proto/squad/farming/v1beta1/query.proto
  types/utils.go
  x/farming/client/cli/query.go
  x/farming/client/testutil/suite.go
  x/farming/keeper/grpc_query.go
  x/farming/keeper/grpc_query_test.go
  x/farming/simulation/operations.go
  x/farming/simulation/proposals.go
  x/farming/types/query.pb.go
  x/farming/types/query.pb.gw.go
Labels: documentation, x/farming, c-sync, build

#327 build: add dbbackend selection and bump tm-db
  Makefile
  go.mod
  go.sum
Labels: c-sync, build

#335 feat: improve PoolResponse from gGRPC queries
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/liquidity.md
  proto/squad/liquidity/v1beta1/query.proto
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/grpc_query_test.go
  x/liquidity/types/query.pb.go
  x/liquidity/types/util.go
Labels: documentation, x/liquidity, c-sync

#337 docs: add links to the matching white paper
  x/liquidity/spec/01_concepts.md
  x/liquidity/spec/03_state_transitions.md
Labels: x/liquidity, c-sync

#340 fix: limit the number of active pools in a pair
  CHANGELOG.md
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/pool_test.go
  x/liquidity/types/errors.go
  x/liquidity/types/params.go
Labels: x/liquidity, c-sync

#341 refactor!: detailed configuration for order book responses
  CHANGELOG.md
  x/liquidity/keeper/grpc_query.go
  x/liquidity/types/example_orderbook_test.go
  x/liquidity/types/orderbook.go
  x/liquidity/types/orderbook_test.go
Labels: x/liquidity, c-sync

#342 fix: calculation bug of liquidstaking voting_power endpoint
  CHANGELOG.md
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/keeper/tally_test.go
  x/liquidstaking/types/expected_keepers.go
Labels: x/liquidstaking, c-sync

#344 refactor: add `price_unit_powers` param to order books query
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/squad/liquidity/v1beta1/query.proto
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/grpc_query_test.go
  x/liquidity/types/query.pb.go
Labels: x/liquidity, c-sync
