Repository cosmosquad-labs/squad, pull requests merged in 2022-05, with the labels that each got.

#303 build!: bump cosmos-sdk to v0.45.3, go 1.17
  .github/workflows/sims.yml
  .github/workflows/test.yml
  app/app.go
  cmd/squad/cmd/testnet.go
  go.mod
  go.sum
Labels: dependencies, chain/app, c-sync, build

#299 fix: check if orderer has sufficient offer coin balances
  x/liquidity/keeper/swap.go
  x/liquidity/keeper/swap_test.go
Labels: bug, x/liquidity, c-sync

#308 docs: use Ignite CLI for Starport
  docs/cli/claim.md
  docs/cli/farming.md
  docs/cli/liquidity.md
  docs/cli/liquidstaking.md
Labels: documentation, c-sync

#310 feat: emit events for order trading volume
  x/liquidity/keeper/swap.go
  x/liquidity/spec/07_events.md
  x/liquidity/types/events.go
Labels: x/liquidity, c-sync

#305 refactor!: use time-based queued staking and reserve unharvested rewards
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/farming.md
  docs/cli/farming.md
  docs/demo/budget_with_farming.md
  docs/demo/farming_public_plans.md
  proto/squad/farming/v1beta1/farming.proto
  proto/squad/farming/v1beta1/genesis.proto
  proto/squad/farming/v1beta1/query.proto
  x/farming/abci.go
  x/farming/client/cli/flags.go
  x/farming/client/cli/query.go
  x/farming/client/cli/tx.go
  x/farming/client/testutil/suite.go
  x/farming/handler_test.go
  x/farming/keeper/epoch.go
  x/farming/keeper/genesis.go
  x/farming/keeper/genesis_test.go
  x/farming/keeper/grpc_query.go
  x/farming/keeper/grpc_query_test.go
  x/farming/keeper/invariants.go
  x/farming/keeper/invariants_test.go
  x/farming/keeper/keeper_test.go
  x/farming/keeper/migrations.go
  x/farming/keeper/plan.go
  x/farming/keeper/proposal_handler_test.go
  x/farming/keeper/reward.go
  x/farming/keeper/reward_test.go
  x/farming/keeper/simulation_test.go
  x/farming/keeper/staking.go
  x/farming/keeper/staking_test.go
  x/farming/legacy/v1/types.go
  x/farming/legacy/v2/store.go
  x/farming/legacy/v2/store_test.go
  x/farming/module.go
  x/farming/simulation/operations_test.go
  x/farming/spec/02_state.md
  x/farming/spec/03_state_transitions.md
  x/farming/spec/04_messages.md
  x/farming/spec/05_end_block.md
  x/farming/types/errors.go
  x/farming/types/farming.pb.go
  x/farming/types/genesis.go
  x/farming/types/genesis.pb.go
  x/farming/types/genesis_test.go
  x/farming/types/keys.go
  x/farming/types/keys_test.go
  x/farming/types/params.go
  x/farming/types/plan.go
  x/farming/types/query.pb.go
  x/farming/types/query.pb.gw.go
  x/farming/types/utils.go
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/keeper/tally_test.go
  x/liquidstaking/types/expected_keepers.go
Labels: documentation, x/liquidstaking, x/farming, c-sync

#316 feat!: add mint pool address for mint module
  app/app.go
  app/app_test.go
  app/upgrades/mainnet/v2.0.0/upgrade.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/squad/mint/v1beta1/mint.proto
  x/mint/abci.go
  x/mint/abci_test.go
  x/mint/client/testutil/suite.go
  x/mint/keeper/keeper.go
  x/mint/keeper/migrations.go
  x/mint/legacy/v2/store.go
  x/mint/legacy/v2/store_test.go
  x/mint/module.go
  x/mint/spec/03_begin_block.md
  x/mint/spec/04_params.md
  x/mint/types/expected_keepers.go
  x/mint/types/mint.pb.go
  x/mint/types/params.go
  x/mint/types/params_test.go
Labels: x/mint, c-sync
