Repository cosmosquad-labs/squad, pull requests merged in 2022-10, with the labels that each got.

#367 fix: change default addresses' type to `sdk.AccAddress`
  x/farm/types/params.go
Labels: bug, x/farm

#369 fix: fix bug in `AllocateRewards` and add submit-proposal cmd
  app/app.go
  docs/api/farm.md
  docs/cli/farm.md
  x/farm/client/cli/tx.go
  x/farm/client/cli/util.go
  x/farm/client/cli/util_test.go
  x/farm/client/proposal_handler.go
  x/farm/client/rest/rest.go
  x/farm/keeper/farm_test.go
  x/farm/keeper/keeper_test.go
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
Labels: documentation, c-sync, x/farm

#368 docs: organize docs
  docs/api/claim.md
  docs/api/farm.md
  docs/api/farming.md
  docs/api/liquidfarming.md
  docs/api/liquidity.md
  docs/api/liquidstaking.md
  docs/api/marketmaker.md
  docs/cli/claim.md
  docs/cli/farming.md
  docs/cli/liquidfarming.md
  docs/cli/liquidity.md
  docs/cli/liquidstaking.md
  x/liquidfarming/spec/07_params.md
Labels: documentation, c-sync, x/liquidfarming

#373 feat: add FeeCollector account
  .github/PULL_REQUEST_TEMPLATE.md
  docs/api/liquidfarming.md
  proto/squad/liquidfarming/v1beta1/params.proto
  x/liquidfarming/simulation/genesis.go
  x/liquidfarming/simulation/genesis_test.go
  x/liquidfarming/spec/02_state.md
  x/liquidfarming/spec/07_params.md
  x/liquidfarming/types/params.go
  x/liquidfarming/types/params.pb.go
  x/liquidfarming/types/params_test.go
Labels: documentation, c-sync, x/liquidfarming

#377 chore: bump SDK to v0.45.9 and remove its own ics23 package and use c…
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  README.md
  app/state.go
  contrib/devtools/Makefile
  go.mod
  go.sum
  ics23/.gitignore
  ics23/Makefile
  ics23/compress.go
  ics23/go.mod
  ics23/go.sum
  ics23/ics23.go
  ics23/ops.go
  ics23/proof.go
  ics23/proofs.pb.go
  tools/tools.go
  x/farming/client/cli/utils.go
  x/farming/spec/01_concepts.md
  x/farming/spec/04_messages.md
  x/liquidity/amm/match.go
Labels: x/liquidity, x/farming, c-sync, build

#378 fix: lower the highest tick boundary for extra safety
  x/liquidity/amm/tick.go
  x/liquidity/amm/tick_test.go
Labels: x/liquidity, c-sync

#380 fix: public farming plan must have same farming pool/termination address
  x/farm/keeper/plan.go
  x/farm/keeper/proposal_handler_test.go
  x/farm/types/plan.go
  x/farm/types/plan_test.go
Labels: c-sync, x/farm

#376 feat: `RewardAllocation` accepts target denom
  docs/api/farm.md
  docs/cli/farm.md
  go.mod
  go.sum
  proto/squad/farm/v1beta1/farm.proto
  x/farm/client/cli/tx.go
  x/farm/client/cli/util_test.go
  x/farm/keeper/farm_test.go
  x/farm/keeper/genesis_test.go
  x/farm/keeper/invariants_test.go
  x/farm/keeper/keeper_test.go
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
  x/farm/keeper/proposal_handler_test.go
  x/farm/keeper/util.go
  x/farm/simulation/decoder_test.go
  x/farm/simulation/operations.go
  x/farm/simulation/operations_test.go
  x/farm/spec/02_state.md
  x/farm/spec/03_messages.md
  x/farm/types/farm.pb.go
  x/farm/types/genesis_test.go
  x/farm/types/msgs_test.go
  x/farm/types/plan.go
  x/farm/types/plan_test.go
Labels: documentation, c-sync, x/farm

#381 feat: disable x/farming handlers and prepare for the deprecation
  x/farming/handler.go
  x/farming/handler_test.go
  x/farming/keeper/epoch.go
  x/farming/keeper/keeper_test.go
  x/farming/keeper/plan.go
  x/farming/keeper/plan_test.go
  x/farming/keeper/proposal_handler_test.go
  x/farming/module.go
  x/farming/module_test.go
  x/farming/types/errors.go
Labels: x/farming, c-sync

#383 fix: check if farmer exists when allocating rewards to target denom
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
  x/farm/keeper/util.go
Labels: c-sync, x/farm

#385 feat: improve x/farm
  docs/api/farm.md
  docs/cli/farm.md
  proto/squad/farm/v1beta1/query.proto
  proto/squad/liquidfarming/v1beta1/genesis.proto
  proto/squad/liquidfarming/v1beta1/liquidfarming.proto
  proto/squad/liquidfarming/v1beta1/params.proto
  proto/squad/liquidfarming/v1beta1/query.proto
  proto/squad/liquidfarming/v1beta1/tx.proto
  x/farm/client/cli/query.go
  x/farm/keeper/farm.go
  x/farm/keeper/grpc_query.go
  x/farm/keeper/grpc_query_test.go
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
  x/farm/types/expected_keepers.go
  x/farm/types/query.pb.go
  x/farm/types/query.pb.gw.go
Labels: documentation, c-sync, x/farm

#374 feat: apply updated auction design
  Makefile
  config-test.yml
  config.yml
  docs/api/liquidfarming.md
  docs/cli/liquidfarming.md
  go.sum
  proto/squad/liquidfarming/v1beta1/genesis.proto
  proto/squad/liquidfarming/v1beta1/params.proto
  proto/squad/liquidfarming/v1beta1/query.proto
  proto/squad/liquidfarming/v1beta1/tx.proto
  x/liquidfarming/abci.go
  x/liquidfarming/abci_test.go
  x/liquidfarming/client/cli/query.go
  x/liquidfarming/client/cli/tx.go
  x/liquidfarming/handler.go
  x/liquidfarming/keeper/auction.go
  x/liquidfarming/keeper/auction_test.go
  x/liquidfarming/keeper/genesis.go
  x/liquidfarming/keeper/genesis_test.go
  x/liquidfarming/keeper/grpc_query.go
  x/liquidfarming/keeper/grpc_query_test.go
  x/liquidfarming/keeper/keeper.go
  x/liquidfarming/keeper/keeper_test.go
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/keeper/liquidfarm_test.go
  x/liquidfarming/keeper/msg_server.go
  x/liquidfarming/keeper/store.go
  x/liquidfarming/module_test.go
  x/liquidfarming/simulation/genesis_test.go
  x/liquidfarming/simulation/params_test.go
  x/liquidfarming/spec/02_state.md
  x/liquidfarming/spec/04_messages.md
  x/liquidfarming/types/auction.go
  x/liquidfarming/types/auction_test.go
  x/liquidfarming/types/events.go
  x/liquidfarming/types/genesis.go
  x/liquidfarming/types/genesis.pb.go
  x/liquidfarming/types/keys.go
  x/liquidfarming/types/keys_test.go
  x/liquidfarming/types/liquidfarm.go
  x/liquidfarming/types/liquidfarm_test.go
  x/liquidfarming/types/msgs.go
  x/liquidfarming/types/params.go
  x/liquidfarming/types/params.pb.go
  x/liquidfarming/types/params_test.go
  x/liquidfarming/types/query.pb.go
  x/liquidfarming/types/query.pb.gw.go
  x/liquidfarming/types/tx.pb.go
  x/liquidfarming/types/util.go
  x/liquidfarming/types/util_test.go
Labels: documentation, c-sync, build, x/liquidfarming

#386 test: increase test coverage of liquidstaking
  x/liquidstaking/keeper/grpc_query_test.go
  x/liquidstaking/simulation/operations_test.go
  x/liquidstaking/simulation/proposals_test.go
  x/liquidstaking/types/liquidstaking_test.go
  x/liquidstaking/types/msgs_test.go
Labels: x/liquidstaking, c-sync
