Repository cosmosquad-labs/squad, pull requests merged in 2022-04, with the labels that each got.

#279 fix: handle small orders correctly
  x/liquidity/amm/match.go
  x/liquidity/keeper/batch.go
  x/liquidity/keeper/grpc_query_test.go
  x/liquidity/keeper/keeper_test.go
  x/liquidity/keeper/swap.go
  x/liquidity/keeper/swap_test.go
  x/liquidity/simulation/operations.go
  x/liquidity/simulation/operations_test.go
  x/liquidity/types/errors.go
  x/liquidity/types/msgs.go
  x/liquidity/types/msgs_test.go
  x/liquidity/types/pool.go
  x/liquidity/types/util.go
Labels: bug, x/liquidity, c-sync

#278 test: add logic and test for liquid unstaking edge cases
  x/claim/keeper/keeper_test.go
  x/liquidstaking/keeper/grpc_query.go
  x/liquidstaking/keeper/invariants.go
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/liquidstaking.go
  x/liquidstaking/keeper/liquidstaking_test.go
  x/liquidstaking/keeper/msg_server.go
  x/liquidstaking/keeper/rebalancing.go
  x/liquidstaking/keeper/rebalancing_test.go
  x/liquidstaking/keeper/tally_test.go
  x/liquidstaking/keeper/test_common.go
  x/liquidstaking/simulation/operations.go
  x/liquidstaking/simulation/proposals.go
  x/liquidstaking/types/expected_keepers.go
  x/liquidstaking/types/liquidstaking.go
  x/liquidstaking/types/params.go
  x/liquidstaking/types/params_test.go
  x/liquidstaking/types/rebalancing.go
  x/liquidstaking/types/rebalancing_test.go
Labels: enhancement, x/liquidstaking, tests, c-sync

#284 docs: fix broken links, tidy
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/squad/farming/v1beta1/query.proto
  x/farming/spec/03_state_transitions.md
  x/farming/spec/05_end_block.md
  x/farming/types/query.pb.go
Labels: documentation, x/farming, c-sync, f-sync

#287 fix: rebalancing logic to avoid redelegation restrictions
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/rebalancing.go
  x/liquidstaking/keeper/rebalancing_test.go
  x/liquidstaking/types/rebalancing.go
Labels: x/liquidstaking, c-sync

#285 fix: mitigate integer overflow issues in x/liquidity
  types/utils.go
  types/utils_test.go
  x/liquidity/amm/amm.go
  x/liquidity/amm/match.go
  x/liquidity/amm/pool.go
  x/liquidity/amm/pool_test.go
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/pool_test.go
  x/liquidity/keeper/swap_test.go
  x/liquidity/simulation/operations.go
  x/liquidity/spec/08_params.md
  x/liquidity/types/errors.go
  x/liquidity/types/msgs.go
  x/liquidity/types/msgs_test.go
  x/liquidity/types/order.go
  x/liquidity/types/params.go
  x/liquidity/types/util.go
Labels: x/liquidity, c-sync

#281 docs: update `liquidstaking` spec docs
  docs/cli/claim.md
  docs/cli/farming.md
  docs/cli/liquidity.md
  docs/cli/liquidstaking.md
  x/liquidity/spec/04_messages.md
  x/liquidstaking/spec/01_concepts.md
  x/liquidstaking/spec/02_state.md
  x/liquidstaking/spec/03_state_transitions.md
  x/liquidstaking/spec/04_messages.md
  x/liquidstaking/spec/05_begin_block.md
  x/liquidstaking/spec/06_end_block.md
  x/liquidstaking/spec/06_hooks.md
  x/liquidstaking/spec/07_events.md
  x/liquidstaking/spec/07_hooks.md
  x/liquidstaking/spec/08_params.md
  x/liquidstaking/spec/09_params.md
  x/liquidstaking/spec/README.md
Labels: documentation, x/liquidstaking, c-sync

#288 fix: fix farming simulation test
  app/params/weights.go
  types/utils.go
  x/claim/simulation/genesis.go
  x/claim/simulation/genesis_test.go
  x/claim/simulation/operations.go
  x/farming/client/testutil/cli_helpers.go
  x/farming/simulation/genesis.go
  x/farming/simulation/genesis_test.go
  x/farming/simulation/operations.go
  x/farming/simulation/operations_test.go
  x/farming/simulation/params_test.go
  x/farming/simulation/proposals.go
  x/farming/simulation/proposals_test.go
  x/liquidity/simulation/operations.go
  x/liquidstaking/simulation/operations.go
  x/liquidstaking/simulation/proposals.go
Labels: x/farming, c-sync, f-sync

#289 docs: update swagger to v1.0.0
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Labels: documentation

#290 fix: fix typo on mint module
  x/mint/abci.go
  x/mint/keeper/keeper.go
Labels: x/mint, c-sync

#294 fix: fix gas consumption issue for vote condition type
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/types/expected_keepers.go
Labels: bug, x/claim

#292 fix: fix simulation for the `claim` module
  x/claim/module.go
  x/claim/simulation/operations.go
  x/claim/simulation/operations_test.go
  x/claim/types/expected_keepers.go
Labels: tests, x/claim, c-sync

#298 fix: fix to use query context
  x/claim/client/cli/query.go
  x/farming/client/cli/query.go
  x/liquidity/client/cli/query.go
  x/liquidstaking/client/cli/query.go
Labels: bug, c-sync

#301 env: add more workflow actions
  .github/labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency.yml
  .github/workflows/janitor.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/stale.yml
Labels: c-sync, ci

#296 fix: optimize CancelAllOrders gas usage
  x/liquidity/keeper/swap.go
  x/liquidity/keeper/swap_test.go
Labels: x/liquidity, c-sync
