Repository cosmosquad-labs/squad, pull requests merged in 2022-03, with the labels that each got.

#258 Fix offer coin refund
  x/liquidity/keeper/batch.go
  x/liquidity/keeper/batch_test.go
  x/liquidity/keeper/swap.go
  x/liquidity/keeper/swap_test.go
Labels: bug, x/liquidity, c

#261 fix: skip zero total stakings when allocating rewards
  x/farming/keeper/reward.go
  x/farming/keeper/reward_test.go
Labels: bug, x/farming, c, f

#265 fix: use truncated open amount before matching
  app/app.go
  app/sim_test.go
  x/liquidity/amm/match.go
  x/liquidity/keeper/swap.go
  x/liquidity/keeper/swap_test.go
  x/liquidity/types/order.go
Labels: bug, x/liquidity, c

#266 fix: liquidstaking tally map iteration to deterministic
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/simulation/proposals.go
  x/liquidstaking/types/expected_keepers.go
Labels: x/liquidstaking, c

#262 fix: sort map keys before iteration for deterministic execution
  go.mod
  go.sum
  x/farming/keeper/reward.go
Labels: bug, x/farming, c, f

#268 docs: revise `mint` spec docs
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/squad/mint/v1beta1/mint.proto
  x/mint/spec/01_concepts.md
  x/mint/spec/02_state.md
  x/mint/spec/03_begin_block.md
  x/mint/spec/04_params.md
  x/mint/spec/05_events.md
  x/mint/types/mint.pb.go
Labels: documentation, x/mint, c

#270 limiting StakingCoinWeights and EpochAmount, disable ratio plan
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/cli/farming.md
  docs/demo/budget_with_farming.md
  docs/demo/farming_public_plans.md
  proto/squad/farming/v1beta1/farming.proto
  x/farming/client/cli/tx.go
  x/farming/client/testutil/suite.go
  x/farming/handler.go
  x/farming/keeper/genesis_test.go
  x/farming/keeper/keeper.go
  x/farming/keeper/keeper_test.go
  x/farming/keeper/msg_server.go
  x/farming/keeper/plan.go
  x/farming/keeper/plan_test.go
  x/farming/keeper/proposal_handler.go
  x/farming/keeper/proposal_handler_test.go
  x/farming/module_test.go
  x/farming/simulation/operations.go
  x/farming/simulation/operations_test.go
  x/farming/simulation/proposals.go
  x/farming/spec/02_state.md
  x/farming/spec/04_messages.md
  x/farming/spec/06_events.md
  x/farming/spec/07_params.md
  x/farming/spec/08_proposal.md
  x/farming/types/errors.go
  x/farming/types/events.go
  x/farming/types/expected_keepers.go
  x/farming/types/farming.pb.go
  x/farming/types/msgs.go
  x/farming/types/params.go
  x/farming/types/proposal.go
  x/farming/types/proposal_test.go
  x/liquidstaking/keeper/tally_test.go
Labels: c

#271 docs: review x/claim spec
  x/claim/spec/02_state.md
Labels: documentation, x/claim, c

#276 build: set ledger_enabled true as default on makefile
  Makefile
Labels: c, build

#267 feat: add more public APIs to x/liquidity/amm
  x/liquidity/amm/match_test.go
  x/liquidity/amm/orderbook.go
  x/liquidity/amm/pool.go
  x/liquidity/amm/pool_test.go
  x/liquidity/amm/tick.go
  x/liquidity/amm/tick_test.go
  x/liquidity/amm/util.go
Labels: enhancement, x/liquidity, c-sync

#272 fix: set indexes only once
  x/liquidity/keeper/genesis.go
  x/liquidity/keeper/genesis_test.go
  x/liquidity/keeper/pair.go
  x/liquidity/keeper/pair_test.go
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/pool_test.go
  x/liquidity/keeper/store.go
  x/liquidity/keeper/swap.go
Labels: enhancement, x/liquidity, c-sync
