Repository cosmosquad-labs/squad, pull requests merged in 2022-09, with the labels that each got.

#353 fix: minor semicolon proto, refactor marketmaker module
  .github/labeler.yml
  proto/squad/farming/v1beta1/query.proto
  proto/squad/liquidstaking/v1beta1/query.proto
  proto/squad/marketmaker/v1beta1/query.proto
  x/marketmaker/client/cli/query.go
  x/marketmaker/client/cli/tx.go
  x/marketmaker/keeper/marketmaker.go
  x/marketmaker/module.go
  x/marketmaker/simulation/decoder.go
  x/marketmaker/simulation/decoder_test.go
  x/marketmaker/simulation/genesis.go
  x/marketmaker/spec/05_events.md
  x/marketmaker/spec/06_params.md
  x/marketmaker/spec/07_proposal.md
  x/marketmaker/spec/README.md
  x/marketmaker/types/keys.go
Labels: c-sync

#352 fix!: upgrade ibc-go for pool coin blacklisting
  go.mod
  go.sum
Labels: chain/app, c-sync

#355 feat: add MM order cli commands and update api docs
  docs/cli/liquidity.md
  x/farming/spec/01_concepts.md
  x/farming/spec/04_messages.md
  x/liquidity/client/cli/tx.go
Labels: documentation, x/liquidity, x/farming, c-sync

#356 docs: add marketmakder docs
  config-test.yml
  docs/api/marketmaker.md
  docs/cli/marketmaker.md
  x/marketmaker/client/cli/tx.go
  x/marketmaker/client/cli/utils_test.go
Labels: documentation, c-sync, x/marketmaker

#357 docs: ameding equation on market maker scoring
  docs/whitepapers/marketmaker/scoring.md
Labels: documentation, c-sync

#358 docs: fix mm paper example number
  docs/whitepapers/marketmaker/scoring.md
Labels: documentation, c-sync

#361 feat: add last blocktime endpoint
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/squad/mint/v1beta1/query.proto
  x/mint/keeper/grpc_query.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Labels: x/mint, c-sync

#364 docs: update image files of mm scoring paper
  docs/whitepapers/marketmaker/1.png
  docs/whitepapers/marketmaker/2.png
Labels: documentation, c-sync
